services:
  - type: web
    name: hianime-api
    env: node
    plan: free
    buildCommand: npm install && npm run build:node
    startCommand: node dist/node.js
    envVars:
      - key: NODE_ENV
        value: production
